.footer {
    display: block;
}

.footer__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 150px 50px 150px;
}

.footer__wrapper {
    padding: 25px 45px 25px 45px;
    border-radius: 10px;
    background: #F1F1F1;
}

.footer__sub-title {
    margin-bottom: 10px;
}

.footer__item {
    padding-top: 10px;
}

.footer__item::before {
    content: "—";
    color: #000;
}