.indent__img-border {
    padding: 0;
}

.indent__image {
    border: 1px solid #000;
    margin: 30px 0 0 0;
    width: 100%;
    margin-bottom: 30px;
}

.text-grey {
    color: #5E5E5E;
    font-weight: 400;
    padding: 15px 30px;
    margin-bottom: 0;
}